<div class="card" style="width: 18rem;">
    <!-- <img src="..." class="card-img-top" alt="..."> -->
    <div class="card-body">
        <h5 class="card-title"></h5>
        <p class="card-text">This quote has {{numberOfLikes}} likes.</p>
        <button type="button" class="btn btn-outline-success" (click)='niceButtonClick()'>Nice quote</button>
        <button type="button" class="btn btn-outline-danger" (click)='lameButtonClick()'>Lame quote</button>
        <button type="button" class="btn btn-danger">Delete quote</button>
    </div>
</div>