<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<link href="//fonts.googleapis.com/css?family=Amiko&subset=latin" rel="stylesheet" type="text/css">
<style>
    * {
        font-family: 'Amiko', sans-serif;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1>Great quotes: the app</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <app-form (addQuote)="addNewQuote($event)"></app-form>
            <div>
                <hr>
                <div *ngFor='let quote of quotes'>
                    <div *ngIf="quote == mostUpvoted" appMaxUpvoteHighlighter>
                        <app-quote [quote]="quote"></app-quote>
                    </div>
                    <div *ngIf="quote != mostUpvoted">
                        <app-quote [quote]="quote"></app-quote>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>