<!-- <app-vote></app-vote> -->

<div class="card">
    <!-- <img src="..." class="card-img-top" alt="..."> -->
    <div class="card-body" style="background-color:transparent; margin:4px">
        <p class="card-title">{{quote.details}}</p>
        <small>by {{quote.author}}</small>
        <br />
        <small><i>{{quote.createdAt | elapsedTime}}</i></small>

        <hr />
        <p class="card-text">{{quote.likes}} likes {{quote.dislikes}} Dislikes </p>


        <app-vote [quote]="quote"></app-vote>

        <button type="button" class="btn btn-danger">Delete</button>
    </div>
</div>